/* COMMON */
body, input, select, textarea {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


/* NAVBAR */
body {
  margin-top: 50px;
}
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #04A997;
  color: #FFF;
  overflow: hidden;
  z-index: 1000;
}
.navbar .navbar-brand {
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.3) url('../images/logo.svg') no-repeat center;
  background-size: 60%;
}
.navbar .navbar-title {
  margin: -3px 0 0 0;
  font-size: 20px;
  font-weight: 900;
}
.navbar .navbar-title small {
  font-size: 0.6em;
}
.navbar .navbar-wallet-dropdown {
  position: relative;
  height: 50px;
  padding: 6px 30px 6px 8px;
  border: none;
  background: rgba(0,0,0,0);
  color: inherit;
  text-align: right;
  text-decoration: none;
  outline: none;
  transition: background-color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  cursor: pointer;
}
.navbar .navbar-wallet-dropdown .title {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar .navbar-wallet-dropdown .subtitle {
  display: block;
  margin-top: -5px;
  font-size: 16px;
  font-weight: 700;
}
.navbar .navbar-wallet-dropdown:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background: url('../images/down-arrow.svg') no-repeat center;
  background-size: 60%;
}
.navbar .navbar-refresh {
  width: 50px;
  height: 50px;
  background: url('../images/refresh.svg') no-repeat center;
  background-size: 40%;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
}
.navbar .navbar-refresh:not(.loading):not(.disabled):hover,
.navbar .navbar-wallet-dropdown:not(.disabled):hover,
.navbar .navbar-wallet-dropdown:not(.disabled):focus {
  background-color: rgba(0,0,0,0.2);
}
.navbar .navbar-refresh.loading {
  cursor: default;
  animation: spin 0.8s linear infinite;
  transition: none; /* Prevent hover background from leaking */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar .navbar-wallet-dropdown.disabled,
.navbar .navbar-refresh.disabled {
  opacity: 0.3;
  cursor: default;
}


/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 50px;
  height: 100%;
  background: #222;
}
.sidebar .nav-item .nav-link {
  padding: 10px 0;
  color: #04A997;
  font-size: 10px;
  text-align: center;
  transition: color 0.1s ease-in-out;
}
.sidebar .nav-item .nav-link.active,
.sidebar .nav-item .nav-link:hover {
  color: #FFF;
}
.sidebar .nav-item svg {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 3px auto;
}


/* RENDERER */
.renderer {
  margin-left: 50px;
  overflow-x: hidden;
}
.renderer section {
  display: none;
}
