section[data-page="receive"] .address-text {
  word-break: break-all;
  font-weight: 700;
  font-size: 1.3em;
  text-align: center;
}
section[data-page="receive"] .address-qr img {
  max-width: 100%;
  margin: 0 auto;
}

table.table-receive {
  width: 100%;
  min-width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.8em;
}
table.table-receive td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.table-receive tr > *:last-child {
  width: 100px;
  text-align: right;
}
