section[data-page="summary"] .price-chart-container {
  position: relative;
  width: 100%;
}

section[data-page="summary"] .addresses-container table {
  width: 100%;
  table-layout: fixed;
  font-size: 0.8em;
}
section[data-page="summary"] .addresses-container table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section[data-page="summary"] .addresses-container table tr > *:last-child {
  width: 100px;
  text-align: right;
}
