<div class="modal modal-delete-all" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete all data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          You are about to erase all wallets, settings and everything stored by this website locally on your device.<br>
          In the end, this means reverting the app to its default state, as if you never used it.
        </p>
        <p>
          All transfers pushed to The Tangle will prevail, but you will lose your seeds.
          <strong>This action is irreversible</strong>. Do you still want to continue?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">No, I've changed my mind</button>
        <button type="button" class="btn btn-outline-danger btn-continue">Yes, delete everything</button>
      </div>
    </div>
  </div>
</div>
