<div class="modal modal-new-wallet" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create new wallet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="seed-table mb-3"></table>
        <p>
          IOTA uses a <strong>seed</strong> to create addresses which can be used to send and receive transfers.
          A seed consists of a set of <strong>uppercase letters and/or the number nine</strong> and has a fixed length of 81 characters.</p>
        <p class="text-center mb-0"><strong>Please write down the generated seed before continuing<br>AS LOSING IT MEANS LOSING YOUR MONEY</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-regenerate">Regenerate seed</button>
        <button type="button" class="btn btn-primary btn-continue">Continue with this seed</button>
      </div>
    </div>
  </div>
</div>
