<section data-page="settings">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <!-- LOCALIZATION -->
        <div class="card mb-2" data-section="localization">
          <div class="card-body">
            <h3 class="card-title">Localization</h3>
            <h6 class="card-subtitle mb-3 text-muted">Customize the appereance of certain elements of the UI</h6>
            <form>
              <div class="form-group">
                <label>Number formatting</label>
                <select name="number_formatting" class="form-control">
                  <option value=".|,">1,234,567.89</option>
                  <option value=",|.">1.234.567,89</option>
                  <option value=",| ">1 234 567,89</option>
                </select>
              </div>
              <div class="form-group">
                <label>Date format</label>
                <select name="date" class="form-control">
                  <option value="YYYY-MM-DD">YYYY-MM-DD</option>
                  <option value="DD/MM/YYYY">DD/MM/YYYY</option>
                  <option value="MM/DD/YYYY">MM/DD/YYYY</option>
                </select>
              </div>
              <div class="form-group">
                <label>Time format</label>
                <select name="time" class="form-control">
                  <option value="H:mm">23:59</option>
                  <option value="h:mm A">11:59 PM</option>
                  <option value="h:mm a">11:59 pm</option>
                </select>
              </div>
              <div class="form-group">
                <label>Preferred Alternative Currency</label>
                <select name="currency" class="form-control">
                  <option value="USD">$ (USD)</option>
                  <option value="EUR">€ (EUR)</option>
                  <option value="BTC">₿ (BTC)</option>
                </select>
              </div>
            </form>
            <button type="button" class="btn btn-outline-secondary btn-save">Save and restart</button>
          </div>
        </div>

        <!-- IOTA NODES -->
        <div class="card mb-2" data-section="nodes">
          <div class="card-body">
            <h3 class="card-title">IOTA nodes</h3>
            <h6 class="card-subtitle mb-3 text-muted">Change the IOTA full nodes used to connect to The Tangle</h6>
            <div class="alert alert-info auto-mode-msg"><strong>Auto mode</strong> is enabled. Nodes will be managed by the app.</div>
            <form>
              <div class="form-group">
                <label>Main Node URL</label>
                <input type="text" name="main_node" class="form-control" required>
                <div class="invalid-feedback">This field is required</div>
              </div>
              <div class="form-group">
                <label>Fallback Node URL</label>
                <input type="text" name="fallback_node" class="form-control" placeholder="This field is optional">
                <small class="form-text text-muted">The one to be used when the main node fails</small>
              </div>
            </form>
            <div class="row">
              <div class="col-md mb-2 mb-lg-0">
                <button type="button" class="btn btn-outline-secondary btn-save">Save and restart</button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-outline-info btn-nodes-switch" data-txt-enable="Enable auto nodes" data-txt-disable="Disable auto nodes"></button>
              </div>
            </div>
          </div>
        </div>

        <!-- WALLETS -->
        <div class="card mb-2" data-section="wallets">
          <div class="card-body">
            <h3 class="card-title">Wallets</h3>
            <h6 class="card-subtitle mb-3 text-muted">Manage locally-stored seeds for this device</h6>
            <div class="wallet-list my-4"></div>
            <div class="row">
              <div class="col-md mb-2 mb-lg-0">
                <button type="button" class="btn btn-outline-primary btn-new-wallet">Create new wallet</button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-outline-info btn-import-wallet">Import existing seed</button>
              </div>
            </div>
          </div>
        </div>

        <!-- DANGER ZONE -->
        <div class="card mb-2" data-section="danger-zone">
          <div class="card-body">
            <h3 class="card-title">Danger zone</h3>
            <h6 class="card-subtitle mb-3 text-muted">Think twice before continuing</h6>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target=".modal-delete-all">Delete all data</button>
          </div>
        </div>
      </div>
      <div class="col-md">
        <!-- ABOUT -->
        <div class="card mb-2" data-section="about">
          <div class="card-body">
            <h3 class="card-title">About</h3>
            <h6 class="card-subtitle mb-3 text-muted">Learn more about the technologies powering this app</h6>
            <p class="card-text">Thanks to all the developers whose contributions made this web wallet possible:</p>
            <ul>
              <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a> (MIT License)</li>
              <li><a href="http://jquery.com/" target="_blank">jQuery</a> (MIT License)</li>
              <li><a href="https://momentjs.com/" target="_blank">moment.js</a> (MIT License)</li>
              <li><a href="https://github.com/brix/crypto-js" target="_blank">crypto-js</a> (MIT License)</li>
              <li><a href="https://github.com/iotaledger/iota.lib.js" target="_blank">iota.lib.js</a> (MIT License)</li>
              <li><a href="https://github.com/davidshimjs/qrcodejs" target="_blank">qrcodejs</a> (MIT License)</li>
              <li><a href="https://datatables.net/" target="_blank">DataTables</a> (MIT License)</li>
              <li><a href="http://www.chartjs.org/" target="_blank">Chart.js</a> (MIT License)</li>
            </ul>
            <p class="card-text">
              This wallet is mantained by <a href="https://github.com/josemmo" target="_blank">@josemmo</a>. Free feel to
              <a href="mailto:josemmo@protonmail.com" target="_blank">send me an email</a> for suggestions, bug-fixes or just to say hi.<br>
              And, if you really like this app, a small amount donation to the following address would be appreciated. Thanks! 🙂❤️
            </p>
            <input type="text" class="form-control" readonly value="QQRYLOPWAFNCEWVUXQSEMHEYHCDHMCZQNCKISTXYECKNXGIVBRMWRPOVGGKBTBXRQJUMZLZPMPRQNNTIXYDEAZW9EC">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
