<div class="modal modal-attaching" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Attaching to The Tangle</h5>
      </div>
      <div class="modal-body">
        <p class="text-center">This address is being attached to The Tangle.<br>Please wait until the process is completed.</p>
        <p class="text-center"><img width="50" src="../../images/loader.svg" alt=""></p>
      </div>
    </div>
  </div>
</div>
