<div class="modal modal-import-wallet" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import wallet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          <strong>STOP!</strong> With the release of the Chrysalis network this app has reached its End of Life.
          You should use the official Firefly wallet instead.
        </div>
        <form>
          <div class="form-group">
            <label>Wallet Name</label>
            <input type="text" name="name" class="form-control" required>
            <div class="invalid-feedback">Invalid name or already in use</div>
          </div>
          <div class="form-group">
            <label>Wallet Seed</label>
            <textarea name="seed" class="form-control no-resize" rows="3" required></textarea>
            <small class="form-text text-muted">
              Don't have a seed? <a href="#" class="btn-new-wallet">Create a new one</a>
            </small>
            <div class="invalid-feedback">Please input a valid 81-trytes seed</div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="passphrase" class="form-control" placeholder="Optional, although highly recommended">
            <small class="form-text text-muted">This will be used to encrypt your seed</small>
          </div>
          <label>
            <input type="checkbox" name="session"> Forget wallet after closing the app
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary btn-import">Import wallet</button>
      </div>
    </div>
  </div>
</div>
