<div class="modal modal-sending-transaction" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sending transaction</h5>
      </div>
      <div class="modal-body">
        <p class="text-center">Your transaction is being sent.<br>Please wait until the process is completed.</p>
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>
