<section data-page="unloaded">
  <div class="container section-idle">
    <h4 class="my-4 text-center">No wallet selected</h4>
    <p class="text-center text-muted">
      Select a wallet from the upper right dropdown to continue o <a href="#!/settings/wallets">create a new one</a> to continue
    </p>
  </div>
  <div class="container section-busy d-none">
    <h4 class="my-4 text-center">Loading wallet...</h4>
    <p class="text-center text-muted">
      Please wait while the app fetches transactions from The Tangle
    </p>
  </div>
</section>
